.App {
  width: 100%;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.rock, .paper, .scissors {
  width: 300px;
  height: 300px;
  margin-right: 50px;
  background-size: cover;
  background-repeat:  no-repeat;
  display: inline-block;
  transition: transform 1s ease-in;
}

.rock {
   background-image: url('./assets/rock.png');
}

.scissors {
  background-image: url('./assets/scissors.png');
}

.paper {
   background-image: url('./assets/paper.png');
}

.selectedFirst, .selectedSecond {
 transform: scale(1.05); 
 position: absolute;
 z-index: 10;
 padding: 20px;
 top: 50%;
}

.selectedFirst {
  left: 15%;
}

.selectedSecond {
  right: 15%;
}

.tagName {
  color: #fff;
  position: absolute;
  left: 29%;
  top: 37px;
  color: #fff;
  font-size: 23px;
  padding: 10px 5px;
  border-radius: 3px;
}

.btn {
  width: 150px;
  padding: 30px;
  height: auto;
  background-color: #000;
  border-radius: 20px;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
  z-index: 20;
  color: #fff;
  margin-top: 30px;
}

.msg {
 width: 50%;
 height: auto;
 padding: 20px 10px;
 text-align: center;
 font-size: 24px;
 margin: 50px auto 50px;
 background-color: #444;
 color: #fff;
 border-radius: 10px;
 border: 2px solid #fff;
}

.msgInvisible, .notVisible {
  display: none;
}

.msgVisible, .visible {
 display: block;
}
  
.msgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 5;
  background-color:#999;
  margin: 0 auto;
}

.title {
  color: #cd0000;
  margin-bottom: 120px;
  padding: 50px;
}

.item {
  text-transform: uppercase;
}
